:root{
  --body-text-color:#212121;
  --color-h1-title:#FFFFFF;
  --text-link-color-hover:#2196F3;
  --title-color:#212121;
  --text-color:#757575;
  --buton-background-color-hover:#064f8a;;
  --color-ddress:#757575;
  --tex-buton-color:#FFFFFF;
  --buton-background-color:#2196F3;
  --hero-backgrount-color: #2F303A;
  --fotter-backgrount-color:#2F303A;
  --team-backgrount-color:#F5F4FA;
  --logo-one-color:#2196F3;
  --logo-two-color:#212121;
  --buton-work-color:#212121;
  --buton-work-backgrount-color:#F5F4FA;
  --buton-work-color-hover:#FFFFFF;
  --buton-work-backgrount-hover:#2196F3;
}
/* Скидання */
p,h1,h2,h3,h4,h5,h6{
  margin:0;
}
ul{
  margin: 0;
  padding-left: 0;
}
body{ font-family: 'Roboto',sans-serif;
color: var(--body-text-color);
}

.list {
list-style:none;
}
.link {
text-decoration:none;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
/*--------HEDER------*/
.header{width: 1600px;
   margin: auto;
   background-repeat:no-repeat;
   background-position: center;
   background-size: cover;

  border-bottom:1px solid #ECECEC;  
}
.header-conect{
  margin-left: auto;
}
.header-nav{
}
.header-wrap{
  display: flex;
  align-items: center;
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left:15px;
  padding-right: 15px;
  /* outline: 2px solid red; */

}
.logo {
font-family:'Raleway',sans-serif;
font-style:none; 
font-weight: 700;
font-size: 26px;
line-height:calc(31/26);
letter-spacing: 0.03em;
color:var(--logo-one-color);
margin-right: 93px;
padding-top: 24px;
padding-bottom: 24px;
}
.logo-accent{
font-family:'Raleway',sans-serif;
font-style:none; 
font-weight: 700;
font-size: 26px;
line-height:calc(31/26);
letter-spacing: 0.03em;
color:var(--logo-two-color);
}
.header-list{
  text-align: center;
}
.header-item:not(:last-child){
  margin-right: 50px;
}

.header-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color:var(--title-color);

}
 .header-link:hover,
.header-link:focus{
  color:var(--text-link-color-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.carrent{
  position: relative;
}
.carrent::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  left: 0; 
  background-color: #2196F3;
  bottom: -30px;
}
.contakt-list{
text-align: center;
margin-left: auto;

}
.contakt-item:not(:last-child){
  margin-right:50px;
 
}

.contakt-link {
font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;
color:var(--color-ddress);

}
.contakt-link-wrap{
  display: flex;
align-items: center;
justify-content: center;
}

.contakt-link:hover,
.contakt-link:focus{
color:var(--text-link-color-hover);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
/*--------------HERO-------------------*/
.hero{
  
  background-color: var(--hero-backgrount-color);
   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
   background-image:
   linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4))
   ,url(../imeges/bagraudhero.jpg);
   width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-repeat:no-repeat;
   background-position: center;
   background-size: cover;
  
  
}  
.hero-title {
font-weight: 900;
font-size: 44px;
line-height:calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--color-h1-title);
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
max-width: 696px;
}
.hero-btb {
font-family: inherit;
cursor:pointer;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--tex-buton-color);
background:var(--buton-background-color);
border-radius: 4px; 
border: transparent;
padding: auto;
}

.hero-btb:focus,
.hero-btb:hover{
background: var(--buton-background-color-hover);
transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----------ABOUT_Наші переваги-------------*/
.about {
  
}
.wrap{
  display: flex;
}
.about-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-list {
}
.about-item:not(:last-child){
  margin-right:30px;
}
.about-after-title{
ffont-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--title-color);
margin-bottom: 10px;
}
.about-text {
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
color:var(--text-color);
}
.abaut-icon{
  border-radius:4px;
  width:270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F5F4FA;
}
/*--------------------PROJECT----------------------------*/
.project 
{
  padding-top: 0;
}
.project-title {
font-weight: 700;
font-size: 36px;
line-height:calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
margin-bottom:50px;
}
.project-list {
}
.project-item{
  position: relative;
}
.project-item:not(:last-child) {
  margin-right: 30px;
}
.project-text{
  position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
    left: 0;
}

/*---------------------TEAM---------------------------------*/
.team {
  
  background-color: var(--team-backgrount-color);
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height:calc( 42 / 36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
margin-bottom: 50px;;
}
.team-list {
}
.list {
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item{
  border: #757575;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
.team-after-title {
font-weight: 500;
font-size: 16px;
line-height:calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
margin-bottom: 10px;
}
.team-text{
font-size: 16px;
line-height:calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--text-color);
margin-bottom: 16px;
}
.team-description{
padding-top: 30px;
padding-bottom: 30px;}

.team-icon-list {display: flex;
  justify-content: center;
  gap:10px;
}
.team-icon-item {
 
}
.team-icon-link {
   width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:#FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
}
.team-icon-icon{
  fill: currentColor;
  margin-right: 10px;

  
}
.team-icon-link:hover,.team-icon-link:focus{
  background-color: #2196F3;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-------------ПОСТІЙНІ_КЛІЄНТИ------------*/
.customers {
}
.customers-title {
}
.customers-list {
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

.customers-link {
  width: 170px;
  height: 92px; 
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
}

.customers-icon {
  fill:currentColor;
  
}

.customers-link:hover,.customers-link:focus{
 border: 1px solid #2196F3;
 color: #2196F3;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-------------ФУТЕР--------------*/
.footer {
  
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;

}
.footer{
  display: flex;
  
}
.footer-list{
}

.footer-iten:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
font-style: inherit;
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
color: var(--tex-buton-color);
margin-bottom:20px;
}
.footer-link:focus,
.footer-link:hover{
color: var(--text-link-color-hover);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.logo-foter{
font-family:'Raleway',sans-serif;
font-style:none; 
font-weight: 700;
font-size: 26px;
line-height:calc(31 / 26);
letter-spacing: 0.03em;
color:var(--logo-one-color);
margin-bottom:20px;
display: block;
}
.logo-accent-footer{
color: var(--color-h1-title);
}
.footer-adress{
  font-style: normal;
  display: flex;
  
}
.footer-icon-box{
  margin-left: 70px;
}
.footer-icon-title{
font-weight: 500;
font-size: 16px;
line-height:calc(19 / 16);

letter-spacing: 0.03em;
color:var(--color-h1-title);
margin-bottom: 20px;
}
.footer-icon-list {display: flex;
  justify-content: center;
  gap:10px;
}
.footer-icon-item {
 
}
.footer-icon-link {
   width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color:#FFFFFF;
}
.footer-icon-icon{
  fill: currentColor;
}

.footer-icon-link:hover,.footer-icon-link:focus{
  background-color: #2196F3;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box{
  display: flex;
  align-items:baseline;
}
.bacdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color:rgba(161, 155, 155, 0.774);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.bacdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0) ;


}
.modal{
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bbox-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50, -50)scale(1);
  transition:transform 250ms linear;
}
.modal-button{
position: absolute;
width: 30px;
height: 30px;
border-radius: 50%;
background: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
position: absolute;
right:10px;
top: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*-----------PORTFOLIO-----------*/
.work {
}
.work-title 
{position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.work-list {
  margin-bottom: 50px;
  display:flex;
  justify-content:center;
}
.work-item:not(:last-child){
  margin-right:8px;
}
.work-btb {
font-family: inherit;
cursor:pointer;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
text-align:center;
letter-spacing: 0.03em;
color:var(--buton-work-color);
background:var(--buton-work-backgrount-color);
border-radius: 4px;
border: transparent;
padding: 6px 22px;

}
.work-btb:focus,
.work-btb:hover{
color:var(--buton-work-color-hover);
background:var(--buton-work-backgrount-hover);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-projekts {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.work-item-link{
  display: block;
}
.work-item-link:hover .work-ap-text,
.work-item-link:focus{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: translateY( 0% );
    
    
}

.work-item-projekts {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 15px;
  width: calc(100% / 3 - 30px);
  margin: 15px;
}

.work-description{
padding: 20px 24px;
border: 1px solid #EEEEEE;

}
.work-after-title {
font-weight: 700;
font-size: 18px;
line-height:calc(36 / 18);
letter-spacing: 0.06em;
color:var(--title-color);

}
.work-text{
font-size: 16px;
line-height:calc(30 / 16);
letter-spacing: 0.03em;
color:var(--text-color);
margin-top: 4px;
}
.work-top-wrap{
  position: relative;
  overflow: hidden;
}
.work-ap-text{
   position: absolute;
   top: 0;
   left: 0;
   height:100%;
   font-weight: 400;
   font-size: 18px;
   line-height:calc(28 / 18);
   letter-spacing: 0.03em;
   color: #FFFFFF;
   background-color: rgba(33, 150, 243, 0.9);
   padding: 63px 24px;
   transform: translateY(100%);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
       transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
























































































































































































